---
import Layout from "../layouts/main.astro";
---

<Layout title="">
  <section class="py-24 font-sans my-20 bg-sky-400">
    <div class="container mx-auto">
      <div>
        <div class="md:w-8/12 text-center mx-auto">
          <h1 class="text-4xl font-semibold mb-10 text-white">
            En construction
          </h1>
          <p class="text-lg font-light">
            Le site est en cours de création, merci de votre patience.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
