---
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div id="page" class="site">
      <header class="bg-white">
        <nav
          class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 border-b-2 border-gray-900/5 font-sans"
        >
          <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
              <span
                class="w-auto font-light text-sky-400 hover:text-fuchsia-800 text-lg uppercase"
                >Roques avec vous</span
              >
            </a>
          </div>
          <div class="flex items-center">
            <a href="/" class="text-lg text-amber-500 uppercase"> Accueil</a>
            <a href="/" class="ml-8 text-lg text-amber-500">
              Notre avis compte
            </a>
            <a href="/" class="ml-8 text-lg text-sky-400"> Actualités</a>
          </div>
        </nav>
      </header>
      <slot />
    </div>
  </body>
</html>
